body{
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}

.logo{
    margin-right: 10px;
    margin-left: 20px;
}
.yellow{
    color: #FFA41B;
}
.brand-logo{
    font-family: 'Dancing Script', cursive;
    font-weight:800;
}

.search-box{
    background-color: white;
}


/* item cards */
.cards-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 300px;
    margin:50px
}

.card-text{
    color: red;
}

/* media query to make cards responsive on smaller devices */
@media (max-width:700px){
    .cards-wrapper{
    display: inline;
    }
}
/* @media (max-width:1004px){
    .card{
        
        
    }
    
} */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    border: none;
}

.card-button{
    color: black;
    background-color: #FFA41B;
    width: 100%;
    margin-bottom: 10px;
}

.card-button:hover{
    color: black;
    background-color: #FEFF86;
}

.card-img-top{
    width: 180px;
    height: 130px;
}



/* carousel */
.carousel-heading{
    text-align: center;
    color: #FFA41B;
    margin-top: 30px;
}
hr{
    width :5%;
    height: 3px;
    background-color: orangered;
    margin: 0 auto;
    border-radius: 5px;
    border: none;

}

/* cart */
.checkout{
    background-color: white;
    width: 250px;
    margin: 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.cart-head{
    text-align: center;
    padding: 10px 0;
    color: #FFA41B;
}


/* footer */

.fbutton{
    color: #FFA41B;
    background-color: black;
    margin:25px auto;
    display: flex;
    justify-content: center;
}



#footer{
    background-color: #FFA41B;
    width: 100%;
    height: 130px;
    margin-top:100px ;
}



.copyright{
    text-align: center;
    font-size: 0.8rem;
    color: aliceblue;
}
/* curve for navbar */
 .curve{
    /* background-color: #FFA41B; */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
      /* width:100%;
      height: 110px;
      border-bottom-left-radius:20% 20%;
      border-bottom-right-radius:20% 20%;
      box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.36);
      margin-top: 0;
      margin-bottom: 70px; */
  }



/*.nav{
    
    padding: 30px;
    border-radius: 35px;
    height: 60px;
    background-color: #FFA41B;
} */
